#navbar hr{
    display:none;
}
#navbar li{
    text-transform: uppercase;
}
#navbar button {
    font-size: 18px !important;
    color: white !important;
}
#navbar li:hover{
    color: #66B406;
    transition: .2s;
}
