#navbar hr{
    width: 90%;
    height: 4px;
    margin: auto;
    outline: none;
    border-radius: 5px;
    background: #66B406;
    border: none;
    display:none;
}
#navbar li{
    text-transform: uppercase;
}
#navbar button {
    font-size: 18px !important;
    color: white !important;
}
